.stadium-card {
    width: 235px;
    height: 240px;
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); 
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    border-radius: 20px;
    margin: 5px;
    color: #FFFFFF;
}

.stadium-img {
    height: 150px;
}

.flex-container-col-centered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: initial;
    flex-direction: column;
}

.name-area {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.city-area {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 137% */
}

.capacity-area {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 137% */
}

.remove-stadium-icon {
    position:absolute;
    width: 17px;
    height: 17px;
    margin: 10px;
    margin-left:90px;
    cursor: pointer;
}
