.stadium-card {
    width: 235px;
    height: 240px;
    background-color: #14A38B;
    border-radius: 20px;
    margin: 5px;
    color: #FFFFFF;
}

.flex-container-col-centered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: initial;
    flex-direction: column;
}

.name-area {
    margin-top: 110px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
}

.city-area {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    /* or 137% */
}

.capacity-area {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
    /* or 137% */
}

.remove-stadium-icon {
    position:absolute;
    width: 17px;
    height: 17px;
    margin: 10px;
    margin-left:90px;
    cursor: pointer;
}
