.user-card {
    width: 235px;
    height: 240px;
    background-color: #4675a8dc;
    border-radius: 20px;
    margin: 5px;
}

.remove-icon {
    position:absolute;
    width: 17px;
    height: 17px;
    margin: 10px;
    margin-left:90px;
    cursor: pointer;
}

.role-badge {
    margin-top:20px;
}

.user-name {
    margin-top:13px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Neucha','cursive';
}

.user-username {
    font-size: 13px;
    margin-top: -10px;
    font-family: 'Padauk', sans-serif;
}

.address-area {
    margin-top: -10px;
}

.email-area {
    margin-top: 8px;
}

.gender-area {
    margin-top: 8px;
    margin-right: 50px;
}

.birthdate-area {
    margin-top: 8px;
}

.address-area img {
    width: 17px;
    height: 17px;
    margin-right: 3px;
}

.email-area img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    filter: brightness(90%);
}

.gender-area img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.birthdate-area img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.address-area span {
    font-size: 13px;
    font-weight: bold;
}

.email-area span {
    font-size: 13px;
    font-weight: bold;
}

.gender-area span {
    font-size: 13px;
    font-weight: bold;
}

.birthdate-area span {
    font-size: 13px;
    font-weight: bold;
}