.match-reservation-header {
    position: relative;
}

.match-reservation-header-image {
    width: 96%;
    height: 900px;
    object-fit: cover;
    object-position: 50% 90%; /* try 20px 10px */ 
    opacity: 90%;
    filter: brightness(30%);
    border-radius: 50px;
    display:block;
    margin: 0 auto 20px auto;
}

.match-details {
    width: 96%;
    height: 350px;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.teams-area {
    width: 100%;
}

.match-home-team {
    flex-basis: 0;
    flex-grow: 1;
    height: 100px;
    margin: 0px 5px;
    text-align: center;
}

.match-away-team {
    flex-basis: 0;
    flex-grow: 1;
    height: 100px;
    margin: 0px 5px;
    text-align: center;
}

.match-date-time {
    flex-basis: 0;
    flex-grow: 1;
    height: 300px;
    margin: 0px 7px;
    text-align: center;
}


.match-home-team img {
    display:block;
    margin:auto;
}

.match-home-team p {
    color: white;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;
}

.match-away-team img {
    display:block;
    margin:auto;
}

.match-away-team p {
    color: white;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;
}

.stad-refere-area {
    margin-top: 20px;
}

.match-time {
    padding: 20px 0px 0px 0px;
    font-size: 50px;
    font-weight: bold;
    color:white;
    margin-bottom: 0px;
}

.match-date {
    margin-top: -10px;
    font-size: 15px;
    font-family: 'Padauk','cursive';
    color:white;
}

.details-area {
    margin-top: 50px;
}

.match-stadium {
    height: 30px;
    margin: 0px 5px;
}

.first-linesman {
    height: 30px;
    margin: 0px 5px
}


.first-linesman img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.first-linesman span {
    color: white;
    margin-top: 7px;
    font-weight: bold;
    font-size: 13px;
}

.second-linesman {
    height: 30px;
    margin: 0px 5px
}

.second-linesman img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.second-linesman span {
    color: white;
    margin-top: 7px;
    font-weight: bold;
    font-size: 13px;
}

.match-stadium img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.match-stadium span {
    color: white;
    margin-top: 7px;
    font-weight: bold;
    font-size: 13px;
}

.match-referee {
    height: 30px;
    margin: 0px 5px;
}

.match-referee span {
    color: white;
    margin-top: 7px;
    font-weight: bold;
    font-size: 13px;
}

.match-referee img {
    width: 20px;
    height: 20px;
    margin-right: 1px;
}

@media (max-width: 900px) {
    .match-home-team img {
        width: 50%;
        height: auto;   
    }

    .match-home-team p {
        font-size: 15px;
    }

    .match-away-team img {
        width: 50%;
        height: auto;
    }

    .match-away-team p {
        font-size: 15px;
    }

    .match-date-time {
        margin-top: -30px;
    }

    .match-time {
        font-size: 40px;
    }

    .first-linesman span {
        font-size: 10px;
    }

    .second-linesman span {
        font-size: 10px;
    }

    .match-stadium span {
        font-size: 10px;
    }

    .match-referee span {
        font-size: 10px;
    }

    
}


