.match-reservation-header {
    position: relative;
}

.match-reservation-header-image {
    width: 96%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 90%; /* try 20px 10px */ 
    opacity: 90%;
    filter: brightness(30%);
    border-radius: 50px;
    display:block;
    margin: 0 auto 20px auto;
}

.match-details {
    width: 96%;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teams-area {
    margin-top: 80px;
    width: 100%;
}

.match-home-team {
    flex: 24%;
    height: 50px;
    margin: 0px 5px;
    text-align: center;
    padding-left: 220px;
}

.match-away-team {
    flex: 24%;
    height: 50px;
    margin: 0px 5px;
    text-align: center;
    padding-right: 220px;
}

.match-date-time {
    flex: 22%;
    height: 260px;
    margin: 0px 7px;
    text-align: center;
}


.match-home-team img {
    display:block;
    margin:auto;
}

.match-home-team p {
    color: white;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;
}

.match-away-team img {
    display:block;
    margin:auto;
}

.match-away-team p {
    color: white;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;
}

.stad-refere-area {
    margin-top: 20px;
}

.match-time {
    padding: 20px 0px 0px 0px;
    font-size: 50px;
    font-weight: bold;
    color:white;
    margin-bottom: 0px;
}

.match-date {
    margin-top: -10px;
    font-size: 15px;
    font-family: 'Padauk','cursive';
    color:white;
}

.details-area {
    margin-top: 50px;
}

.match-stadium {
    width: 120px;
    height: 30px;
    margin: 0px 5px;
}

.first-linesman {
    width: 120px;
    height: 30px;
    margin: 0px 5px
}


.first-linesman img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.first-linesman span {
    color: white;
    margin-top: 7px;
    font-weight: bold;
}

.second-linesman {
    width: 120px;
    height: 30px;
    margin: 0px 5px
}

.second-linesman img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.second-linesman span {
    color: white;
    margin-top: 7px;
    font-weight: bold;
}

.match-stadium img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.match-stadium span {
    color: white;
    margin-top: 7px;
    font-weight: bold;
}

.match-referee {
    width: 120px;
    height: 30px;
    margin: 0px 5px;
}

.match-referee span {
    color: white;
    margin-top: 7px;
    font-weight: bold;
}

.match-referee img {
    width: 20px;
    height: 20px;
    margin-right: 1px;
}

@media (max-width: 1025px) {
    .match-home-team {
        padding-left: 10px;
        flex: 20%;
    }
    
    .match-away-team {
        padding-right: 10px;
        flex: 20%;
    }

    .match-date-time {
        flex: 28%;
    }
}


@media (max-width: 730px) {
    .match-home-team img {
        width: 50%;
        height: auto;
        margin-top: 50px;
    }

    .match-home-team p {
        font-size: 15px;
    }

    .match-away-team img {
        width: 50%;
        height: auto;
        margin-top: 50px;
    }

    .match-away-team p {
        font-size: 15px;
    }

    .match-home-team {
        padding-left: 10px;
        flex: 16%;
    }

    .match-away-team {
        padding-right: 10px;
        flex: 16%;
    }

    .match-date-time {
        flex: 36%;
        margin-top: -30px;
    }
}


