.header {
    position: relative;
}

.header-image {
    width: 96%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 55%; /* try 20px 10px */ 
    opacity: 90%;
    filter: brightness(30%);
    border-radius: 50px;
    display:block;
    margin: 20px auto;
}

.text-block {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.text-block h1 {
    color: white;
    font-size: 56px;
    line-height: 56px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    border-width: 10px;
    border-color: black;
}

.text-block p {
    color: white;
    font-size: 25px;
    line-height: 56px;
    font-family: 'IBM Plex Sans', sans-serif;
    border-width: 10px;
    border-color: black;
}
