
.form-area {
    margin-bottom: 40px !important;
    width: 800px !important;
    margin: 0 auto !important;;
}

.form-title {
    font-size: 40px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.info-text {
    font-size: 15px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 3px;
    color: rgba(112, 110, 110, 0.849);
}

.dropdown-button {
    margin-top: 5px !important;;
    background-color: white !important;
    border-radius: 10px !important;
    border-color: #0880AE !important;
    border-width: 2px !important;
    width: 300px !important;
    height: 52px !important;
    line-height: 35px !important;
}

.dropdown-item {
    width: 300px;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn-black-text {
    position: relative;
    float: left;
    color: black;
}

.dropdown-arrow {
    position: relative;
    float: right;
    top: 25%;
}

.team-dd-item-text {
    margin-left: 10px;
}

.away-team-dd-area {
    margin-left: 100px;
}

.stadium-dd-area {
    margin-top: 20px;
}

.date-time-area {
    margin-top: 20px;
    margin-left: 100px;
}

.main-referee-area {
    margin-top: 20px;
}

.firstlinesman-area {
    margin-top: 20px;
    margin-left: 100px;
}

.secondlinesman-area {
    margin-top: 20px;
}

.input-text-area {
    margin-top: 5px;
    background-color: white !important;
    border-radius: 10px !important;
    border-color: #0880AE !important;
    border-width: 2px !important;
    width: 300px !important;;
    height: 50px !important;;
    line-height: 35px !important;; 
    font-weight: bold !important;;
    font-family: 'IBM Plex Sans', sans-serif;
}

.date-time-picker {
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    border-color: #0880AE;
    border-width: 2px;
    width: 300px;
    height: 52px;
    line-height: 35px;
    font-size: 15px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
}

.time-input-field {
    border-radius: 7px;
    border-color: #0880AE;
    border-width: 2px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.match-form-modal-body {
    width: 800px;
    margin-left: 30px;
    margin-top: 15px;
}
 
.match-form-buttons-area {
    position: relative;
    left: 405px;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    margin: 10px;
}

.match-form-close-btn {
    width: 110px;
    transition: width 1000ms !important;
    border-color: #0880AE !important;
    margin: 0px 20px;
}

.match-form-save-btn {
    width: 130px;
    background-color: #0880AE !important;
    border-color: #0880AE !important;
    color: white !important;
}

.error-message {
    font-size: small;
    color: darkred;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 5px;
}

.vertical-alignment-helper {
    display:table !important;
    height: 100% !important;
    width: 100% !important;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell !important;
    vertical-align: middle !important;
    pointer-events:none !important;
}

@media (max-width: 800px) { 
    .form-area {
        width: 400px !important;;
    }

    .match-form-modal-body {
        width: 400px !important;;
        flex-direction: column;
    }

    .away-team-dd-area, .date-time-area, .firstlinesman-area {
        margin-left: 0px;
        margin-top: 20px;
    }
    
    .match-form-buttons-area {
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: 0px;
    }
}
