.request-card {
    width: 280px;
    height: 265px;
    background-color: #b7b927dc;
    border-radius: 20px;
    margin: 5px;
}

.accept {
    position: absolute;
    width: 17px;
    height: 17px;
    margin: 10px;
    margin-left: 95px
}

.reject {
    position: absolute;
    width: 17px;
    height: 17px;
    margin: 10px;
    margin-left: 120px
}

.accept:hover, .reject:hover {
    cursor: pointer;
}



