.request-card {
    width: 235px;
    height: 240px;
    background-color: #b7b927dc;
    border-radius: 20px;
    margin: 5px;
}

.accept {
    position: absolute;
    width: 17px;
    height: 17px;
    margin: 10px;
    margin-left: 77px
}

.reject {
    position: absolute;
    width: 17px;
    height: 17px;
    margin: 10px;
    margin-left: 103px
}



